@import'../../../variables/mixins.scss';

.admin_header{
    margin: 20px 0 0 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .admin_btns{
        width: 400px;
        display: flex;
        
        
    }
}