@import'../../../variables/mixins.scss';

header{
    @include bacgroundCol;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        width: 25px;
        height: 40px;
       h1{
           display: none;
       }
    }
    .menu-list{

        width: 206px;
        height: 24px;
        margin: 8px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            width: 100%;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            li{
                display: inline;
                width: 100%;
                margin: 0 20px 0 0;                
                a{
                    color:#6A707B;
                    font-size: 14px;
                    white-space: nowrap;
                    @include text_style;
                    word-spacing: 0.5px;
                }

            }
            

        }
    }
  
}
@media only screen and (min-width: 400px) {
    header{
        position: relative;
        top: 100px;
        margin: 0px 0 0 0px;
        background: transparent;
        width: 100%;
        height: 66px;
        justify-content: space-between;
        .logo{
            margin: 0 0 0 10px;
            width: 118px;
            h1{
                display: block;
                margin: 10px 0px 0 14px;
                color: #131821;
                font-size: 14px;
                font-weight: 400;
            }
     
        }
        .menu-list{
            margin: 8px 10px 0 0;
        }
    }
    
}

@media only screen and (min-width: 760px) {
    header{
        
        .menu-list{
            margin: 8px 100px 0 0;
        }
        .logo{
            margin: 0 0 0 100px;
        }
    }
}